<#include "/basic/_meta.html"/>
<title>添加用户</title>
</head>
<body>
<article class="page-container">
    <form action="" method="post" class="form form-horizontal" id="form-member-add">
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>端口号：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" hidden value="${data.id!''}" id="id" name="id"/>
                <input type="text" hidden value="${data.proxyType!''}" id="selectType"/>
                <input type="text" class="input-text" value="${data.port!''}" placeholder="" id="port" name="port">
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>端口类型：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <span class="select-box">
                    <select class="select" size="1" name="proxyType" id="proxyType">
                        <option value="0">TCP</option>
                        <option value="1">HTTP</option>
                    </select>
				</span>
            </div>
        </div>
        <div class="hiddenBox">
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>远程主机：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="${data.remoteHost!''}" placeholder="" id="remoteHost" name="remoteHost">
                </div>
            </div>
            <div class="row cl">
                <label class="form-label col-xs-4 col-sm-3"><span class="c-red">*</span>远程端口：</label>
                <div class="formControls col-xs-8 col-sm-9">
                    <input type="text" class="input-text" value="${data.remotePort!''}" placeholder="" id="remotePort" name="remotePort">
                </div>
            </div>
        </div>
        <div class="row cl">
            <label class="form-label col-xs-4 col-sm-3">备注：</label>
            <div class="formControls col-xs-8 col-sm-9">
                <input type="text" class="input-text" value="${data.remark}" placeholder="" id="remark" name="remark">
            </div>
        </div>
        <div class="row cl">
            <div class="col-xs-8 col-sm-9 col-xs-offset-4 col-sm-offset-3">
                <input class="btn btn-primary radius" type="submit" value="&nbsp;&nbsp;保存&nbsp;&nbsp;">
            </div>
        </div>
    </form>
</article>

<#include "/basic/_footer.html"/>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="${path}/lib/jquery.validation/1.14.0/jquery.validate.js"></script>
<script type="text/javascript" src="${path}/lib/jquery.validation/1.14.0/validate-methods.js"></script>
<script type="text/javascript" src="${path}/lib/jquery.validation/1.14.0/messages_zh.js"></script>
<script type="text/javascript">
    $(function () {
        $(".select").on("change", function () {
            var type = $(this).find("option:selected").text();
            if (type === "HTTP") {
                $(".hiddenBox").hide();
            } else {
                $(".hiddenBox").show();

            }
        });

        var proxyType = $("#selectType").val();
        $(".select").val(proxyType);
        $(".select").trigger("change");

        $("#form-member-add").validate({
            rules: {
                username: {
                    required: true,
                    minlength: 2,
                    maxlength: 16
                },
                password: {
                    required: true,
                    minlength: 2,
                    maxlength: 16
                }
            },
            onkeyup: false,
            focusCleanup: true,
            success: "valid",
            submitHandler: function (form) {
                var data = {
                    "id": $("input[id='id']").val(),
                    "port": $("input[id='port']").val(),
                    "type": $(".select").val(),
                    "remoteHost": $("input[id='remoteHost']").val(),
                    "remotePort": $("input[id='remotePort']").val(),
                    "remark": $("input[id='remark']").val()
                };
                $.ajax({
                    url: "save",
                    method: "post",
                    data: JSON.stringify(data),
                    contentType: "application/json",
                    dataType: "json",
                    success: function (data) {
                        if (data.code === 1000) {
                            window.parent.location.reload();
                            var index = parent.layer.getFrameIndex(window.name);
                            parent.layer.close(index);
                        } else {
                            layer.msg(data.message, {icon: 2, time: 1000})
                        }
                    }
                });
            }
        });
    });
</script>
<!--/请在上方写此页面业务相关的脚本-->
</body>
</html>