<#include "/basic/_meta.html"/>
<title>用户列表</title>
</head>
<body>
<#include "/basic/_header.html"/>
<#include "/basic/_menu.html"/>
<section class="Hui-article-box">
    <nav class="breadcrumb"><i class="Hui-iconfont">&#xe67f;</i> 首页
        <span class="c-gray en">&gt;</span> 用户列表
        <a class="btn-refresh btn btn-primary radius r" style="line-height:1.6em;margin-top:3px" href="javascript:location.replace(location.href);" title="刷新" ><i class="Hui-iconfont">&#xe68f;</i></a>
    </nav>
    <div class="Hui-article">
        <article class="cl pd-20">
            <div class="cl pd-5 bg-1 bk-gray">
                 <span class="l">
                     <a href="javascript:;" onclick="member_add('添加用户','add.html','','300')" class="btn btn-primary radius">
                    <i class="icon-plus"></i> 添加用户</a>
                </span>
                <span class="text-r">
                    <form>
                        <input type="text" class="input-text" style="width:250px" placeholder="输入名称" id="" name="keyWord"
                               value="${keyWord!}">
                        <button type="submit" class="btn btn-primary" id="" name=""><i class="icon-search"></i> 搜索</button>
                    </form>
                </span>
            </div>
            <div class="mt-20">
                <table class="table table-border table-bordered table-hover table-bg table-sort">
                    <thead>
                    <tr class="text-c">
                        <th>用户名</th>
                        <th>是否管理员</th>
                        <th>操作</th>
                    </tr>
                    </thead>
                    <tbody class="text-c">
                        <#list data.list as x>
                        <tr>
                            <td>${x.username}</td>
                            <td>
                                <#if x.isAdmin = 1>
                                    <span class="label label-primary radius">&emsp;是&emsp;</span>
                                <#else>
                                    <span class="label label-default radius">&emsp;否&emsp;</span>
                                </#if>
                            </td>
                            <td class="td-manage">
                                <a style="text-decoration:none" class="ml-5" onclick="change_password('修改密码','password.html?id=${x.id}&username=${x.username}','10001','600','270')" href="javascript:;" title="修改密码">
                                    <i class="Hui-iconfont"></i>
                                </a>
                                <a title="删除" href="javascript:;" onclick="member_del(this,${x.id})" class="ml-5" style="text-decoration:none">
                                    <i class="Hui-iconfont"></i>
                                </a>
                            </td>
                        </tr>
                        </#list>
                    </tbody>
                </table>
                <div class="cl pd-5 bg-1 bk-gray text-c">
                    <@p.pagination value=data url='list.html'/>
                </div>
            </div>
        </article>
    </div>
</section>
<#include "/basic/_footer.html"/>

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="${path}/lib/laypage/1.2/laypage.js"></script>
<script type="text/javascript">
    /*用户-添加*/
    function member_add(title, url, w, h) {
        layer_show(title, url, w, h);
    }

    /*密码-修改*/
    function change_password(title, url, id, w, h) {
        layer_show(title, url, w, h);
    }

    /*用户-删除*/
    function member_del(obj, id) {
        layer.confirm('确认要删除吗？', function (index) {
            $.ajax({
                type: 'POST',
                url: 'del',
                contentType: "application/json",
                data: JSON.stringify({"id": id}),
                dataType: 'json',
                success: function (data) {
                    if (data.code === 1000) {
                        $(obj).parents("tr").remove();
                    }else{
                        layer.msg(data.message, {icon: 2, time: 1000});
                    }
                },
                error: function (data) {
                    console.log(data.msg);
                },
            });
        });
    }
</script>
</body>
</html>